.navbar {
    -fx-background-color: #2d3035;
}

.navbar Button {
    -fx-text-fill: White;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.navbar Button:hover {
    -fx-text-fill: orange;
}

.navbar-header {
    -fx-background-color: #36393f;
}

.main {
    -fx-background-color: #eaeaea;
}

@font-face {
    src: url("fxml/Fran.ttf");
}

.main-panel {
    -fx-background-color: white;
    -fx-border-color: #d8d8d8;
    -fx-text-fill: yellow;
}

.main-panel .label {
    /*-fx-text-fill: #67B5E3;*/
    -fx-text-fill: red;
    -fx-font-family: "Francois One";
    /*-fx-font-size: 20;*/
}

.main-panel Button {
    -fx-cursor: hand;
}

.main-popup {
    -fx-background-color: white;
    -fx-border-color: #d8d8d8;
}

.header {
    /*-fx-background-color: #36393f;*/
    -fx-background-color: white;
    -fx-border-style: solid hidden solid hidden;
    -fx-border-color: #d8d8d8;
}

.header-login {
    -fx-background-color: #36393f;
}

.login {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: blue;

}

/*.login .table-view {
    -fx-background-color: transparent;

}
!*
.login .table-row-cell {
    -fx-cell-size: 40;
    -fx-background-color: white;

}*!*/

.app {
    -fx-border-style: solid;
    -fx-border-color: #d8d8d8;
}



.chart-title {
    -fx-text-fill: black;
}

.chart-legend {
    -fx-text-fill: black;
}

.bottom-border {
    -fx-border-width: 0 0 10 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: black;
}

.infobg {
    -fx-background-color: #4f545c;
}

.curve{
    -fx-background-color: #2d3035;
    -fx-background-size: 100% 100%;
    -fx-background-radius : 30;
    -fx-border-width: 3px;
    -fx-border-radius : 30;
    -fx-text-fill: white;
    -fx-border-color: #4dd9da;
}
