.navbg {
    -fx-background-color: #2d3035;
}

.bodybg {
 -fx-background-color: #202225;
}

.headerbg {
	-fx-background-color: #36393f;
}

.panelbg {
   -fx-background-color: #2f3136;
}

.navbutton {

}


.chart-title {
    -fx-text-fill: orange;
}

.chart-legend {
    -fx-text-fill: orange;
}

.bottom-border {
    -fx-border-width: 0 0 10 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: black;
}

.infobg {
    -fx-background-color: #4f545c;
}

.curve{
    -fx-background-color: #2d3035;
    -fx-background-size: 100% 100%;
    -fx-background-radius : 30;
    -fx-border-width: 3px;
    -fx-border-radius : 30;
    -fx-text-fill: white;
    -fx-border-color: #4dd9da;
}
